[submodule ".github/workflows/packages/s.el"]
	path = .github/workflows/packages/s.el
	url = https://github.com/magnars/s.el
  
[submodule ".github/workflows/packages/dash.el"]
	path = .github/workflows/packages/dash.el
	url = https://github.com/magnars/dash.el
  
[submodule ".github/workflows/packages/clojure-mode"]
	path = .github/workflows/packages/clojure-mode
	url = https://github.com/clojure-emacs/clojure-mode/